<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911781856678-6btdn55i8ln3vff16mlaom1m8vd6olbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911781856678-6btdn55i8ln3vff16mlaom1m8vd6olbs</string>
	<key>API_KEY</key>
	<string>AIzaSyCSrqfXJ127TZ6ViogsKHGqbdPCgsLsFqE</string>
	<key>GCM_SENDER_ID</key>
	<string>911781856678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidagyakwa.gctublogs</string>
	<key>PROJECT_ID</key>
	<string>gctu-news-d1cb8</string>
	<key>STORAGE_BUCKET</key>
	<string>gctu-news-d1cb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911781856678:ios:636f4362e24a7a3eb03b67</string>
</dict>
</plist>